# All Webstorm files
.idea/
*.xml
*.iml

# Any and all PDF files, MOV files, anything in a folder sarting with "source"
source*
*.pdf
*.mov

# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

# Mac
.DS_Store